body {
  margin: 0;
  font-family: 'font-awesome';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'font-awesome';
}

.clickale {
  cursor: pointer;
}

.clickableText {
  color: rgb(24, 89, 230);
  text-decoration: none;
  font-weight: bold;
}

.clickableText:hover {
  text-decoration: underline;
}